*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: lavender;
    background-color: rgb(32, 32, 32);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    /* height: 100vh; */
}

#over{
    display: none;
}

#home{
    height: 100vh;
    /* margin: 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home h1{
    font-size: 40px;
}
#home p{
    font-size: 20px;
    margin: 30px;
}
.play{
    padding: 10px;
    color: lavender ;
    background-color: rgb(32, 32, 32);;
    border: 1px solid snow;
    font-weight: 600;
    font-size: 15px;
}
.play:hover{
    background-color: lavender ;
    color: rgb(32, 32, 32);;
    border: 1px solid snow;
    box-shadow: 10px 10px 5px rgb(78, 66, 70);
}

#content{
    display: none;
}

#content{
    height: 100vh;
    /* display:flex; */
    flex-direction: column;
    align-items: center;
}
#content #rule{
    text-align: center;
    margin: 80px;
}

#content #container{
    background-color: lavender;
    color: rgb(32, 32, 32);
    height: 60vh;
    width: 80vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#container #counter{
    font-size: 25px;
}
#container #question{
    font-size: 30px;
}
#container #inp{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: rgb(233, 231, 231);
    font-size: 18px;
}
#over{
    display:none;
}
#over{
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#over h2{
    margin: 10px;
    font-size: 40px;
}
#over h3{
    margin:50px 0 20px 0;
}
#next{
    padding: 10px;
    color: lavender ;
    background-color: rgb(32, 32, 32);;
    border: 1px solid snow;
    font-weight: 600;
    font-size: 15px;
}
#next:hover{
    border: 3px solid orange;
    box-shadow: 5px 5px 5px rgb(78, 66, 70);
}